body {
    background-color: black;
}

.logo {
    width: 200px;
    display: block;
    padding-left: 16px;
    margin-left: auto;
    margin-right: auto;
}

.navigation {
    text-align: center;
    padding: 20px;
    width: auto
}

h1 {
    color: white;
    font-family: arial;
    letter-spacing: 2px;
    font-weight: 200;
    text-align: center;
    font-size: 40px;
    padding-left: 16px;
}

p {
    color: #aaaaaa;
    text-align: center;
    font-family: arial;
    font-weight: 100;
    letter-spacing: 2px;
    font-size: 20px;
    padding-left: 16px;
}

.home, .info, .creations {
    text-decoration: none;
    font-family: arial;
    font-size: 20px;
    color: gray;
    letter-spacing: 2px;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
}

.home:hover, .info:hover, .creations:hover {
    background-color: #111111;
}

.fadein {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
    animation: fadein 3s;
    -moz-animation: fadein 3s;
    -webkit-animation: fadein 3s;
    -o-animation: fadein 3s;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.titlefadein {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
    animation: fadein 2s;
    -moz-animation: fadein 2s; 
    -webkit-animation: fadein 2s; 
    -o-animation: fadein 2s; 
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

.link {
    color: #4cff00;
    font-family: arial;
    font-weight: 100;
    letter-spacing: 2px;
    text-decoration: none;
}